[Unit]
Description=nbp-rs currency exchange service
Requires=nbp.socket

[Service]
# Only needed if you're going to start it manually
Environment="NBP_ADDR=/run/nbp.sock"
# Exit after 30s without requests; systemd's socket activation restarts us on
# the next connection. Set to 0/unset to keep running forever.
Environment="NBP_IDLE_TIMEOUT=30"
ExecStart=/usr/local/bin/nbp-rs
NonBlocking=true

[Install]
WantedBy=multi-user.target
