{% macro currency(label, value) %}
  <div class="currency-item">
    <dt>{{label}} =</dt>
    <dd>{{value}} PLN</dd>
  </div>
{% endmacro %}
<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tabela kursów średnich NBP</title>
    <style>
      body {
        max-width: 1024px;
        margin: 0 auto;
      }
      summary {
        margin-bottom: 0.5em;
      }
    </style>
	</head>
	<body>
		<h1>Tabela kursów średnich NBP</h1>
		{% for cei in exchange_rate_items %}
    <details {% if loop.first %}open{% endif%}>
      <summary>{{cei.title}}</summary>
      <div>
        <p>1 USD = {{ "{:.4}"|format(cei.rates.usd / cei.rates.eur) }} EUR</p>
        <p>30 USD = {{"{:.4}"|format(30.0 * cei.rates.usd / cei.rates.eur) }} EUR</p>
        <dl>
          {{ currency("1 EUR", cei.rates.eur) }}
          {{ currency("1 USD", cei.rates.usd) }}
          {% match cei.rates.chf %}{% when Some with (chf) %}{{ currency("1 CHF", chf) }}{% when None %}{% endmatch %}
          {% match cei.rates.gbp %}{% when Some with (gbp) %}{{ currency("1 GBP", gbp) }}{% when None %}{% endmatch %}
          {% match cei.rates.jpy100 %}{% when Some with (jpy) %}{{ currency("100 JPY", jpy) }}{% when None %}{% endmatch %}
        </dl>
      </div>
    </details>
    {% endfor %}
	</body>
</html>
